@charset "UTF-8";

.questions-container {
    width: 700px;
    max-width: 100%;
    margin: auto;
	border-top: 1px solid #5C7A99;
	border-right: 1px solid #5C7A99;
	border-left: 1px solid #5C7A99;
	margin-bottom: 20px;
}

.question-box {
	border-bottom: 1px solid #5C7A99;
	background: #f1f1f1;
}

.the-question {
    padding: 15px 10px;
    font-size: 14px;
    font-weight: normal;
	margin: 0px;
	text-align: right;
	cursor: pointer;
	background: #d4d4d4;
	font-family: droid_arabic_naskh_regular;
}

.the-question .arrow-down{
    float: left;
}

.the-question:hover{
	background: #5C7A99;
	color: white;
}

.the-answer {
    background: #f1f1f1;
    padding: 15px 10px;
    margin: 0px;
	text-align: right;
	display: none;
}

.the-answer .box {
    border-top: 1px solid black;
    display: block;
    padding-top: 14px;
}

.question-number {
    margin-left: 13px;
}

.question-is-clicked {
	background: #5C7A99;
	color: white;
}

#ads {
	padding-top: 15px;
	margin-top: 40px;
	display: block;
    background: #d4d4d4;
	text-align: center;
}